@import "tailwindcss";

@theme {
  --font-lato: "Lato", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";

  --color-aimsure-blue: #2d336b;
  --color-aimsure-yellow: #ff9b0b;
  --color-aimsure-white: #ffffff;
}
